h2{
    font-family: monospace;
}
 body {
        background: linear-gradient(
          to right, 
          #ff9e2c 0%, 
          #ff9e2c 50%, 
          #b6701e 50%, 
          #b6701e 100%
        );
      }
      
      .title{
        font-family: cursive;
      }

