body{
    background-image: url(https://live.staticflickr.com/4557/38950337081_4749b7d58d_b.jpg);
}
.p1{
    animation: linear;
}
.newpoem{
    color: azure;
    position: relative;
    top: 200px ;
}