/*  {
   border: 1px solid rgb(201, 171, 171);
    color: white;
}*/

.spaced-out {
    color: blue;
}

.highlight {
    text-transform: uppercase
}

.even-para {
    background-color: gray;
    /* float:right */
    padding-left: 60%;
}

/* .odd-para{
    float:left
} */

.offset1 {

    position: relative;
    top: 15px;

}
.Robert-Frost{

    position: absolute;
    top: 500px;
    z-index: -1;
}
.firstpara{
    position: relative;
    top: 100px;

}
.secondpara{
    position: relative;
    top: 100px;
}
.lastpara{
    position: relative;
    top: -200px;
}