p {
    border: 1px solid red;
    color: white;
}

.spaced-out {
    color: blue;
}

.highlight {
    text-transform: uppercase
}

.even-para {
    background-color: gray;
    /* float:right */
    padding-left: 60%;
}

/* .odd-para{
    float:left
} */

.offset1 {

    position: relative;
    top: 10px;

}